.container {
    margin: 0 auto;
    width: 47%;
    margin-top: 30px;
    margin-bottom: 200px;

    h1 {
        font-size: 2em !important;
        text-align: start;
    }

    .tags {
        text-align: start;
        font-size: 20px;
        margin-top: 20px;
        color: grey;
        margin-bottom: 20px;
    }

    .userContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .avatar {
        width: 100px;
        height: 100px;
        background-color: rgb(214, 214, 214);
        border-radius: 50px;
    }

    .infoContainer {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .nameAndData {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 20px;

        .link {
            all: unset;
        }
    }

    .userName {
        text-align: start;

        &:hover {
            cursor: pointer;
        }
    }

    .data {
        text-align: start;
        color: rgb(214, 214, 214);
        font-weight: 400;
    }

    .iconContainer {
        div {
            display: inline;
            color: rgb(163, 163, 163);
            font-size: 25px;
            margin: 5px;
        }

        span {
            font-size: 25px;
            margin: 5px;
            color: rgb(163, 163, 163);
        }

        .active {
            color: rgb(43, 43, 255);
        }

        i {
            &:hover {
                cursor: pointer;
            }
        }
    }

    .content {
        margin-top: 30px;
        text-align: start;
        font-size: 20px;
    }

    img {
        width: 500px;
    }

    blockquote {
        padding-left: 15px;
        padding-bottom: 15px;
        border-left: 3px solid black;
        margin-bottom: 20px;
    }

    .commentContainer {
        display: flex;
        justify-content: space-between;
        margin-top: 35px;
        align-items: center;

        input {
            border: none;
            outline: none;
            border: none;
            font-size: 16px;
            width: 100%;
            padding: 0 5px;

            &::placeholder {
                color: rgb(193, 193, 193);
            }
        }

        button {
            all: unset;
            background: #0073ff;
            font-size: 16px;
            padding: 6px 16px;
            border-radius: 99em;
            color: #fff;
            border: none;
            cursor: pointer;
            transition: 0.25s;

            &:hover {
                background-color: #3b93ff;
            }
        }
    }

    .comments {
        text-align: start;
        margin-top: 20px;

        .title {
            font-size: 22px;
            font-weight: 500;
        }

        .userContainerComment {
            margin-bottom: 20px;

            .link {
                all: unset;
            }

            .infoContainerComment {
                margin-top: 20px;
                display: flex;
                text-align: center;
				align-items: center;
				position: relative;

                .avatarComment {
                    width: 50px;
                    height: 50px;
                    background-color: rgb(214, 214, 214);
                    border-radius: 50px;
                }

                .userNameComment {
                    margin-left: 20px;
                    font-weight: 600;
                }

                .commentMenu {
					position: absolute;
					right: 0;
					i {
						font-size: 25px;
					}

					&:hover .dropdown {
						display: block;
					}
                }

                &:hover {
                    cursor: pointer;
                }
				

				.dropdown {
					list-style: none;
					display: none;
					background-color: #fff;
					border: 1px solid rgba(0, 0, 0, 0.15);
					position: absolute;
					right: 0;
					border-radius: 0.25rem;
					color: #6c757d;
					transition: 0.3s;
					text-align: left;
					width: 150px;

					.textDrop {
						font-size: 17px;
						transition: .3s;
						padding: 10px;
						padding-left: 20px;
						&:hover {
							background-color: #e6e6e6;
						}
					}

				}
            }

            .replyContainer {
                display: flex;
                align-items: baseline;

                .data {
                    margin-top: 15px;
                }

                button {
                    all: unset;
                    color: #0073ff;
                    // font-weight: 400;
                    font-size: 20px;
                    margin-left: 15px;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .childrenContainer {
            margin-left: 40px;

            .mentionedUser {
                font-weight: 700;
            }
        }
    }
}
